<div class="advantage-section">
    <div class="radio-group">
        <label class="radio-option">
            <input type="radio" name="advantage" value="advantage" class="advantage-radio">
            <span>{{localize "SW5E-QOL.interface.advantage"}}</span>
        </label>
        <label class="radio-option">
            <input type="radio" name="advantage" value="normal" class="advantage-radio" checked>
            <span>{{localize "SW5E-QOL.interface.normal"}}</span>
        </label>
        <label class="radio-option">
            <input type="radio" name="advantage" value="disadvantage" class="advantage-radio">
            <span>{{localize "SW5E-QOL.interface.disadvantage"}}</span>
        </label>
    </div>
</div>
