<div class="generic-roll-dialog">
    <div class="dialog-header">
        <h2 class="dialog-title">{{type}}: {{title}}</h2>
    </div>
    <div class="dialog-body" id="dialog-body">
        <!-- Sections will be dynamically inserted here -->
    </div>
</div>
